{% extends 'patient/base.html'%}
{% block content %}
{% load mathfilters %}
<legend class="border-bottom mb-4">
    Payments: 
</legend>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>View Invoice</th>
                    <th>Paid</th>
                    <th>Due</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{% url 'pat-gen-inv' %}">View Invoice</a></td>
                    <td style="color: green;">&#8377 {{account.paid}}</td>
                    <td style="color: red;">&#8377 {{account.total|sub:account.paid}}</td>
                    <td style="color: blue;">&#8377 {{account.total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}